@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../A-5/pexels-nappy-1058958.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type:none ;
    margin-top: 25px;
    margin-right: 10px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color:white;
    padding: 5px 25px;
    border: 2px solid transparent;
    transition: 0.6 ease;
}
ul li a:hover{
    background-color: white;
    color: #000;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
     color: white;
     font-size: 50px;
}
.logo h1{
    float: left;
    margin-top: 20px;
    color: white;
    text-shadow: 5px 5px 5px rgba(85,20,20,.733);
    font-size: 3em;
}
.main{
    max-width: 1200px;
    margin: auto;
}
